#!/usr/bin/env python

"""
Simple post-commit hook for Longhouse.

Notifies Longhouse that it should perform a 'svn up'
action and load changes from XML. 

To use this hook, first assign HOST to the url where Longhouse 
is hosted and add any Longhouse projects to PROJECTS. Then
copy this script to the /hooks directory in your repository.
Be sure to chmod it to be executable.
"""

import urllib
import sys


HOST = 'http://localhost:8080'

PROJECTS = [
    'testproject',
    ]



def notify_longhouse():

    global HOST, PROJECTS
    errors = []

    # make sure HOST ends with a forward slash '/'
    if not HOST.endswith('/'):
        HOST = HOST + '/'

    for project in PROJECTS:
        """
        Try to update each project by contacting [projectname]/svnup.
        If anything other than 'Done.' is returned, we assume an error
        occured
        """
        
        project_page = HOST + 'p/' + project
        
        page = urllib.urlopen(project_page + '/svnup').read()
        
        if not page == 'Done.':
            errors.append(project_page)
                
    if len(errors) > 0:
        
        err_msg  = 'Problems were encountered updating the following Longhouse projects:\n'
        
        for error in errors:
            err_msg += '\t' + error + '\n'
        
        sys.stderr.write(err_msg)
        
        sys.exit(1)
        
    
if __name__ == '__main__':
    
    notify_longhouse()
    
