#!/usr/bin/env python

"""
Simple post-commit hook for Longhouse.

Notifies Longhouse that it should perform a 'svn up'
action and load changes from XML. 

To use this hook, assign HOST to the url where Longhouse is hosted
(e.g. http://longhouse.no-ip.org:8000/) and add any longhouse projects
to PROJECTS.

TODO: provide feedback that this hook ran
'print' and 'sys.stdout.write' don't seem to be working

TODO: have hook update multiple projects
"""

import urllib

HOST = 'http://localhost:8080/'

PROJECTS = [
    'testproject'
    ]

for project in PROJECTS:
    urllib.urlopen(HOST + 'p/' + project + '/svnup')
